#about{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
    text-align: left;
 .about-h2{
    width:100%;
    margin-bottom:20px;
 h2{
    color:rgb(27, 202, 255);
     font-size:40px;
     text-align: left;
 }}
 .about-p{ p{
     font-size:25px;
     padding:5px 1px;
     margin-bottom:20px;
 }
}
 .about-3-div{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width:100%;
    gap:20px;
    text-align:left;
    .about-3-h3{
        width:100%;
        h3{
            color:rgb(27, 202, 255);
        font-size:30px;
        text-align: left;}
    }
    .about-3-card-parent{
        width:100%;
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        align-items: center; 
        flex-wrap: wrap;
        margin-bottom:20px;
    .about-3-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:400px;
        min-height:300px;
        gap:10px;
        margin:auto;
        h4{  width:100%;
            color:rgb(27, 202, 255);
            font-size:25px;
            text-align: left;
        }
        p{
            padding:1px;
            font-size:20px;
        }
    }
    
    }
    .about-4-card{
        display:flex;
        align-items:center;
        padding:10px;
        width:100%;

        background-color:rgb(186, 186, 186) !important;
        backdrop-filter: blur(10px);
        .about-4-icon{
            width:40px;
            height:40px;
            color:rgb(27, 202, 255);
            padding-left:10px;
            border-radius:50%;
            border-color:rgb(68, 118, 255);
        }
        .about-4-para{
            width:100%;
            padding:10px;
            text-align:left;
            font-size:20px;
            .about-4-span1{
                color:rgb(27, 202, 255);
                font-size:25px;
            }
            .about-4-span2{
                 font-size:20px;
                 font-weight: bold;
            }
        }
    }
    .about-5-parent{
        width:100%;
        // display: flex;
        // justify-content:center;
        // flex-direction: row;
        // align-items: center; 
        // flex-wrap: wrap;
        // margin-bottom:20px;
        // @media(max-width:768px){
            // display:none;
        // }
        // .about-5-img{
            // width:300px;
            // height:400px;
        // }
        .about-final-img{
            width:100%;
        }
    }
    .about-6-parent{
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width:100%;
        text-align: left;
        .about-6-h2{ 
            width:100%;
            margin-bottom:20px;
          h2{
            color:rgb(27, 202, 255);
            font-size:35px;
             text-align: left;
        }
        }
        .about-6-p{ 
            p{
            font-size:25px;
            padding:5px 1px;
            margin-bottom:20px;
        }
        }
    }
 //

}

//
}
//
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}