.App {
  text-align: center;
  overflow: hidden;
  padding:5px 60px;
  @media(max-width:768px) 
  {
    padding:20px;
    margin:auto;
    
  }
}
.flex-row{
  display:flex;
  justify-content:flex-start;
  align-items:center;
}
.flex-column{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}
